---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [1]:
import pandas as pd
import numpy as np
import re
from numbers import Number as nb

In [33]:
energy = pd.read_excel('Energy Indicators.xls', skiprows=[i for i in range(17)], skipfooter=32)
GDP = pd.read_csv("world_bank.csv", skiprows=[0, 1, 2, 3])
energy.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
5,NaN,Angola,Angola,642,27,70.909090
6,NaN,Anguilla,Anguilla,2,136,0.000000
7,NaN,Antigua and Barbuda,Antigua and Barbuda,8,84,0.000000
8,NaN,Argentina,Argentina,3378,79,24.064520
9,NaN,Armenia,Armenia,143,48,28.236060
10,NaN,Aruba,Aruba,12,120,14.870690
11,NaN,Australia,Australia1,5386,231,11.810810
12,NaN,Austria,Austria,1391,164,72.452820
13,NaN,Azerbaijan,Azerbaijan,567,60,6.384345
14,NaN,Bahamas,Bahamas,45,118,0.000000
15,NaN,Bahrain,Bahrain,574,425,0.000000
16,NaN,Bangladesh,Bangladesh,1625,10,1.966329
17,NaN,Barbados,Barbados,19,69,0.000000
18,NaN,Belarus,Belarus,1142,120,0.463389
19,NaN,Belgium,Belgium,2338,210,9.959739
20,NaN,Belize,Belize,13,39,64.690030
21,NaN,Benin,Benin,170,16,0.000000
22,NaN,Bermuda,Bermuda,6,88,0.000000
23,NaN,Bhutan,Bhutan,63,83,100.000000
24,NaN,Bolivia (Plurinational State of),Bolivia (Plurinational State of),336,32,31.477120
25,NaN,"Bonaire, Sint Eustatius and Saba","Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,NaN,Bosnia and Herzegovina,Bosnia and Herzegovina,266,70,41.464670
27,NaN,Botswana,Botswana,86,39,0.131406
28,NaN,Brazil,Brazil,12149,59,69.648030
29,NaN,British Virgin Islands,British Virgin Islands,2,85,0.000000
30,NaN,Brunei Darussalam,Brunei Darussalam,127,310,0.045434
31,NaN,Bulgaria,Bulgaria,703,97,17.234610
32,NaN,Burkina Faso,Burkina Faso,164,10,14.500680
33,NaN,Burundi,Burundi,58,6,86.792450
34,NaN,Cabo Verde,Cabo Verde,7,15,21.227620
35,NaN,Cambodia,Cambodia,250,17,57.311590
36,NaN,Cameroon,Cameroon,307,14,70.886260
37,NaN,Canada,Canada,10431,296,61.945430
38,NaN,Cayman Islands,Cayman Islands,8,131,0.000000
39,NaN,Central African Republic,Central African Republic,23,5,85.635360
40,NaN,Chad,Chad,77,6,0.000000
41,NaN,Chile,Chile,1613,92,28.006570
42,NaN,China,China2,127191,93,19.754910
43,NaN,"China, Hong Kong Special Administrative Region","China, Hong Kong Special Administrative Region3",585,82,0.000000
44,NaN,"China, Macao Special Administrative Region","China, Macao Special Administrative Region4",47,83,0.000000
45,NaN,Colombia,Colombia,1513,32,63.002840
46,NaN,Comoros,Comoros,5,7,11.627910
47,NaN,Congo,Congo,102,23,57.748870
48,NaN,Cook Islands,Cook Islands,1,48,0.000000
49,NaN,Costa Rica,Costa Rica,222,47,88.736420

In [55]:
def answer_one():
    energy = pd.read_excel('Energy Indicators.xls', skiprows=[i for i in range(17)], skipfooter=32)
    energy = (energy.drop(energy.columns[[0, 1]], axis=1))
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] = energy['Energy Supply'].map(lambda a: a * 1000000. if isinstance(a, nb) else np.NaN)
    energy['Country'] = energy['Country'].map(lambda a: str(a)[:str(a).find('(')-1] if str(a).find('(') != -1 
                                              else a)
    energy['Country'] = energy['Country'].map(lambda a: re.sub("\d", "", a) if any(map(str.isdigit, str(a)))
                                             else a)
    energy['Country'] = energy['Country'].map(lambda a: "South Korea" if str(a) == "Republic of Korea"
                                              else "United States" if str(a) == "United States of America" 
                                              else "United Kingdom" if str(a) == "United Kingdom of Great Britain and Northern Ireland"
                                              else "Hong Kong" if str(a) == "China, Hong Kong Special Administrative Region"
                                              else a)
    #energy.rename(columns={"Country": "Country Name"}, inplace=True)
    energy.set_index('Country', inplace=True)

    GDP = pd.read_csv("world_bank.csv", skiprows=[0, 1, 2, 3])
    GDP['Country Name'] = GDP['Country Name'].map(lambda a: "South Korea" if str(a) == "Korea, Rep."
                                                  else "Iran" if str(a) == "Iran, Islamic Rep."
                                                  else "Hong Kong" if str(a) == "Hong Kong SAR, China"
                                                  else a)

    ScimEn = pd.read_excel("scimagojr-3.xlsx").head(15)
    ScimEn.set_index('Country', inplace=True)
    #ScimEn.rename(columns={"Country": "Country Name"}, inplace=True)

    columns_to_keep_GDP = ['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    GDP = GDP[columns_to_keep_GDP]
    GDP.rename(columns={"Country Name": "Country"}, inplace=True)
    GDP.set_index('Country', inplace=True)

    result = pd.merge(energy, GDP, how='inner', left_index=True, right_index=True)
    result = pd.merge(result, ScimEn, how='inner', left_index=True, right_index=True)
    #result.set_index('Country', inplace=True)
    return result
answer_one()

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
China,1.271910e+11,93,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1,127050,126767,597237,411683,4.70,138
United States,9.083800e+10,286,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,2,96661,94747,792274,265436,8.20,230
Japan,1.898400e+10,149,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,3,30504,30287,223024,61554,7.31,134
United Kingdom,7.920000e+09,124,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,4,20944,20357,206091,37874,9.84,139
Russian Federation,3.070900e+10,214,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,5,18534,18301,34266,12422,1.85,57
Canada,1.043100e+10,296,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,6,17899,17620,215003,40930,12.01,149
Germany,1.326100e+10,165,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,7,17027,16831,140566,27426,8.26,126
India,3.319500e+10,26,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,8,15005,14841,128763,37209,8.58,115
France,1.059700e+10,166,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,9,13153,12973,130632,28601,9.93,114
South Korea,1.100700e+10,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,10,11983,11923,114675,22595,9.57,104
Italy,6.530000e+09,109,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,11,10964,10794,111850,26661,10.20,106
Spain,4.923000e+09,106,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,12,9428,9330,123336,23964,13.08,115
Iran,9.172000e+09,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,13,8896,8819,57470,19125,6.46,72
Australia,5.386000e+09,231,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,14,8831,8725,90765,15606,10.28,107
Brazil,1.214900e+10,59,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,15,8668,8596,60702,14396,7.00,86

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [42]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [46]:
def answer_two():
    n_of_entries = 15
    ScimEn = pd.read_excel("scimagojr-3.xlsx")
    return ScimEn.shape[0] - n_of_entries
answer_two()

176

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [47]:
def answer_three():
    Top15 = answer_one()
    columns_to_use = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    df = Top15[columns_to_use]
    avgGDP = df.mean(axis = 1, skipna = True).sort_values(ascending=False)
    return avgGDP
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [48]:
def answer_four():
    Top15 = answer_one()
    columns_to_use = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    df = Top15[columns_to_use]
    df['Average'] = df.mean(axis = 1, skipna = True)
    df.sort_values(by=['Average'], ascending=False, inplace=True)
    sixth = df.iloc[5]
    diff = sixth['2015'] - sixth['2006']
    return diff
answer_four()

246702696075.3999

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [49]:
def answer_five():
    Top15 = answer_one()
    df = Top15.reset_index()
    df['Energy Supply per Capita'] = df['Energy Supply per Capita'].map(lambda a: a if str(a).isdigit() else np.NaN)
    return df['Energy Supply per Capita'].mean()
answer_five()

157.59999999999999

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [50]:
def answer_six():
    Top15 = answer_one()
    df = Top15['% Renewable']
    df = df.map(lambda a: np.NaN if not isinstance(a, nb) else a).sort_values(ascending=False)
    return (df.index[0], df[0])
answer_six()

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [52]:
def answer_seven():
    Top15 = answer_one()
    Top15['Ratio'] = (Top15['Self-citations'] / Top15['Citations'])
    needed_column = Top15['Ratio']
    needed_column.sort_values(ascending=False)
    return (needed_column.index[0], needed_column[0])
answer_seven()

('China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [60]:
def answer_eight():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15.sort_values(by="Population", ascending=False, inplace=True)
    return Top15.index[2]
answer_eight()

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!